.app {
  align-items: center;
  background: RebeccaPurple;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media (min-width: 480px) {
  .app {
    border-radius: 5px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    margin: 48px auto;
    max-height: calc(640 * var(--px));
    max-width: calc(360 * var(--px));
  }
}
