@import "./strawberries.css";
@import "./candles.css";
@import "./form.css";
@import "./labels.css";
@import "./connectors.css";

.birthday-cake {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: calc(320 * var(--px));
  width: calc(256 * var(--px));
}

.cake {
  background-image: url(../../images/cake.png);
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(calc(4 * var(--px)) calc(4 * var(--px)) 0 Indigo);
  height: calc(96 * var(--px));
  position: relative;
  width: calc(256 * var(--px));
}
