button {
  align-self: start;
  background-clip: padding-box;
  background-color: HotPink;
  border-image-outset: 0 0 0 0;
  border-image-repeat: repeat;
  border-image-slice: 24 24 24 24;
  border-image-source: url(../../media/button-minus.png);
  border-image-width: calc(6 * var(--px));
  border-style: solid;
  border-width: calc(6 * var(--px));
  filter: drop-shadow(calc(4 * var(--px)) calc(4 * var(--px)) 0 Indigo);
  flex-shrink: 0;
  font-variant: all-small-caps;
  min-height: calc(30 * var(--px));
  min-width: calc(30 * var(--px));
  padding: 0 calc(8 * var(--px)) calc(4 * var(--px));
  position: relative;
}
