button,
.button {
  align-self: start;
  background-clip: padding-box;
  background-color: HotPink;
  border-image-outset: 0 0 0 0;
  border-image-repeat: repeat;
  border-image-slice: 24 24 24 24;
  border-image-source: url(../../images/button-primary.png);
  border-image-width: calc(6 * var(--px));
  border-style: solid;
  border-width: calc(6 * var(--px));
  filter: drop-shadow(calc(4 * var(--px)) calc(4 * var(--px)) 0 Indigo);
  flex-shrink: 0;
  font-variant: all-small-caps;
  min-height: calc(30 * var(--px));
  min-width: calc(30 * var(--px));
  padding: 0 calc(8 * var(--px)) calc(4 * var(--px));
  position: relative;
  transform: translate3D(0, 0, 0);
}

button:hover,
.button:hover {
  cursor: pointer;
}

button:active,
.button:active {
  filter: drop-shadow(calc(3 * var(--px)) calc(3 * var(--px)) 0 Indigo);
  transform: translate3D(calc(1 * var(--px)), calc(1 * var(--px)), 0);
}

button.secondary,
.button.secondary {
  background-color: Indigo;
  border-image-source: url(../../images/button-secondary.png);
}

button.tertiary,
.button.tertiary {
  border: none;
  filter: none;
  background: transparent;
  color: hotpink;
}
