.candles {
  display: flex;
  justify-content: center;
}

/* Stick */
.candle {
  position: relative;
  width: 32px;
  aspect-ratio: 1/2;
  background-image: url(../../media/stick-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: drop-shadow(4px 4px 0 Indigo);
  filter: drop-shadow(4px 4px 0 Indigo);
}

.candle[data-bit="1"] {
  background-image: url(../../media/stick-1.png);
}

/* Wick */
.candle::before {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../media/wick-0.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.candle[data-bit="1"]::before {
  background-image: url(../../media/wick-1.png);
}

/* Numbers */

.candle[data-number="0"] {
  background-repeat: no-repeat;
  background-size: 100%;
}

.candle[data-number="0"] {
  background-image: url(../../media/candle-number-0.png);
}

.candle[data-number="1"] {
  background-image: url(../../media/candle-number-1.png);
}

.candle[data-number="2"] {
  background-image: url(../../media/candle-number-2.png);
}

.candle[data-number="3"] {
  background-image: url(../../media/candle-number-3.png);
}

.candle[data-number="4"] {
  background-image: url(../../media/candle-number-4.png);
}

.candle[data-number="5"] {
  background-image: url(../../media/candle-number-5.png);
}

.candle[data-number="6"] {
  background-image: url(../../media/candle-number-6.png);
}

.candle[data-number="7"] {
  background-image: url(../../media/candle-number-7.png);
}

.candle[data-number="8"] {
  background-image: url(../../media/candle-number-8.png);
}

.candle[data-number="9"] {
  background-image: url(../../media/candle-number-9.png);
}

/* Cake */

.birthday-cake {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cake {
  width: 256px;
  aspect-ratio: 256/96;
  background-image: url(../../media/cake.png);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: drop-shadow(4px 4px 0 Indigo);
  filter: drop-shadow(4px 4px 0 Indigo);
}

.cake.outline {
  background-image: url(../../media/cake-outline.png);
}

/* Form results */

.candles:empty {
  padding: 0;
}

.candles:empty ~ button {
  display: none;
}

.candles:empty ~ .cake {
  display: none;
}

.description:empty ~ button {
  display: none;
}

.results {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.results button {
  align-self: center;
  margin-top: 32px;
}

.description {
  padding: 0 16px;
  text-align: center;
}

.description em {
  display: block;
  font-size: 20px;
  margin-top: 1em;
  font-style: normal;
}
