@keyframes fall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes rotate-and-fade {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: rotate(calc(360deg * 2)) translateX(100%);
  }
}

.confetti {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.confetti::before {
  background: linear-gradient(Indigo, Transparent);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0.25;
  position: absolute;
  right: 0;
  top: 0;
}

.particle-track {
  align-items: end;
  animation: fall 10s infinite ease-in;
  display: flex;
  height: 100%;
  justify-content: center;
  width: calc(16 * var(--px));
}

.particle {
  align-items: center;
  animation: rotate-and-fade 10s infinite linear;
  aspect-ratio: 1;
  color: Indigo;
  display: flex;
  flex-shrink: 1;
  font-size: calc(25 * var(--px));
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  text-shadow: none;
  user-select: none;
  width: calc(25 * var(--px));
}
