dialog {
  background: transparent;
  border: none;
  color: Lavender;
  margin: auto;
  text-shadow: none;
}

dialog form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: calc(12 * var(--px));
  justify-content: center;
  padding: calc(24 * var(--px));
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

dialog button {
  align-self: unset;
  animation: pulsate 1s steps(3) infinite;
  color: Indigo;
  filter: none;
}

dialog::backdrop {
  background: Indigo;
  opacity: 0.75;
}
