dialog {
  background: transparent;
  border: none;
  color: Lavender;
  margin: auto;
  text-shadow: none;
}

dialog form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: calc(12 * var(--px));
  justify-content: center;
  padding: calc(24 * var(--px));
}

dialog button {
  align-self: unset;
  color: Indigo;
  filter: none;
}

dialog::backdrop {
  background: Indigo;
  opacity: 0.75;
}

.app[data-loaded="false"] dialog button {
  background: none;
  border: none;
  color: Lavender;
  pointer-events: none;
}

.app[data-loaded="false"] .loading {
  display: flex;
}

.app[data-loaded="false"] .loaded {
  display: none;
}

.app[data-loaded="true"] .loading {
  display: none;
}

.app[data-loaded="true"] .loaded {
  display: flex;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.app[data-loaded="true"] dialog button {
  animation: pulsate 1s steps(3) infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0em);
  }
  25% {
    transform: translateY(-0.5em);
    color: HotPink;
  }
  50% {
    transform: translateY(0em);
  }
}

.app[data-loaded="false"] .loading span {
  animation: wave 1s steps(3) infinite;
  width: 0.5em;
  text-align: center;
  display: inline-block;
}

.app[data-loaded="false"] .loading span:nth-child(1) {
  animation-delay: 0s;
}
.app[data-loaded="false"] .loading span:nth-child(2) {
  animation-delay: 0.1s;
}
.app[data-loaded="false"] .loading span:nth-child(3) {
  animation-delay: 0.2s;
}
.app[data-loaded="false"] .loading span:nth-child(4) {
  animation-delay: 0.3s;
}
.app[data-loaded="false"] .loading span:nth-child(5) {
  animation-delay: 0.4s;
}
.app[data-loaded="false"] .loading span:nth-child(6) {
  animation-delay: 0.5s;
}
.app[data-loaded="false"] .loading span:nth-child(7) {
  animation-delay: 0.6s;
}
