.emoji {
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-flex;
  width: calc(25 * var(--px));
}

.emoji-wick-1 {
  background-image: url(../../images/emoji-candle-wick-1.png);
}

.emoji-strawberry {
  background-image: url(../../images/strawberry-0.png);
  background-position: center bottom;
  background-size: calc(18.75 * var(--px));
}

.emoji-balloon {
  background-position: center bottom;
  background-size: calc(20 * var(--px)) calc(25 * var(--px));
  display: flex;
}

.emoji-audio {
  background-image: url(../../images/audio-animated.png);
  background-position: right 11px;
  background-size: calc(14 * var(--px)) calc(12 * var(--px));
  filter: brightness(0) saturate(100%) invert(9%) sepia(44%) saturate(6954%)
    hue-rotate(269deg) brightness(98%) contrast(102%);
}

.emoji-balloon-deeppink {
  background-image: url(../../images/balloon-deeppink.png);
}
.emoji-balloon-tomato {
  background-image: url(../../images/balloon-tomato.png);
}
.emoji-balloon-coral {
  background-image: url(../../images/balloon-coral.png);
}
.emoji-balloon-hotpink {
  background-image: url(../../images/balloon-hotpink.png);
}

.emoji-balloon-empty {
  background-image: url(../../images/balloon-empty.png);
  filter: brightness(0.75);
}
