body:has(.explainer) {
  overflow: hidden;
}

.explainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: end;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.explainer .visual {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 1.5s cubic-bezier(0.25, -0.25, 0.25, 1.25);
}

.explainer .visual:has(.candle) {
  transform: translateX(0);
}

.explainer .verbal {
  height: fit-content;
  width: 100%;
  padding-bottom: calc(8 * var(--px));
  transform: translateY(100%);
  transition: transform 1.5s cubic-bezier(0.25, -0.25, 0.25, 1.25);
}

.explainer[data-visible="true"] .verbal {
  transform: translateY(0%);
}

.explainer .box {
  background: Lavender;
  border: calc(4 * var(--px)) solid HotPink;
  box-shadow: calc(4 * var(--px)) calc(4 * var(--px)) 0 0 Indigo;
  color: Indigo;
  /* height: 100%; */
  /* margin-bottom: calc(80 * var(--px)); */
  max-width: calc(480 * var(--px));
  padding: calc(8 * var(--px)) calc(16 * var(--px));
  text-shadow: none;
  width: calc(100% - calc(24 * var(--px)));
}

.explainer .box.quiz {
  border-color: Turquoise;
}

.explainer .box strong {
  color: DeepPink;
}

.explainer .box em {
  color: Tomato;
  font-style: normal;
}

.emoji {
  display: inline-flex;
  width: calc(25 * var(--px));
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: 100%;
}

.emoji-wick-1 {
  background-image: url(../../images/emoji-candle-wick-1.png);
}
