@font-face {
  font-family: "SH Pinscher";
  src: url(../../fonts/SHPinscher-Regular.woff2);
  font-display: block;
}

body,
input,
button {
  font-size: 24px;
  line-height: 1;
  font-family: "SH Pinscher", sans-serif;
}
