@font-face {
  font-display: block;
  font-family: "SH Pinscher";
  src: url(../../fonts/SHPinscher-Regular.woff2);
}

body {
  font-family: "SH Pinscher", sans-serif;
  font-size: calc(25 * var(--px));
  line-height: 1.25;
}

h1 {
  font-size: calc(50 * var(--px));
  line-height: 1;
}
