form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

form label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

form label {
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

.age-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.age-input {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.age-input input {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -0.48em;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.28em;
  padding-left: 0.28em;
  caret-color: DeepPink;
  color: transparent;
  text-shadow: none;
  background-color: Transparent;
  width: calc(32px * 3);
  margin: 0 auto;
  padding: 0 16px;
  z-index: 1;
  border: 4px dashed rgba(255, 20, 145, 0.2);
}

.age-input input:hover,
.age-input input:focus {
  animation: pulsate 0.5s steps(6) infinite alternate;
}

@keyframes pulsate {
  0% {
    /* border-color: Transparent; */
    border-color: rgba(255, 20, 145, 0.2);
  }
  100% {
    border-color: DeepPink;
  }
}

.age-display {
  display: flex;
  pointer-events: none;
}
