body {
  background: RebeccaPurple;
  color: Lavender;
  margin: 16px;
  text-shadow: calc(2 * var(--px)) calc(2 * var(--px)) Indigo;
}

::-moz-selection {
  background: rgba(64, 224, 208, 0.25); /* Turquoise */
}

::selection {
  background: rgba(64, 224, 208, 0.25); /* Turquoise */
}
