html,
body {
  height: 100%;
}

body {
  align-items: center;
  background: Indigo;
  color: Lavender;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-shadow: calc(2 * var(--px)) calc(2 * var(--px)) Indigo;
}

::-moz-selection {
  background: rgba(64, 224, 208, 0.25); /* Turquoise */
}

::selection {
  background: rgba(64, 224, 208, 0.25); /* Turquoise */
}

*:focus:not(:hover) {
  outline: calc(2 * var(--px)) dashed Turquoise;
}
