/*

.glow {
  outline-style: dashed;
  outline-color: rgba(64, 224, 208, 0.75);
  outline-width: calc(4 * var(--px));
  outline-offset: calc(10 * var(--px));
  animation: blink 0.5s ease-in-out infinite;
  animation-direction: alternate;
  z-index: 999;
}

@keyframes blink {
  0% {
    outline-style: dashed;
    outline-width: calc(4 * var(--px));
    outline-offset: calc(5 * var(--px));
  }
  100% {
    outline-style: dashed;
    outline-width: calc(4 * var(--px));
    outline-offset: calc(10 * var(--px));
  }
}

*/
