.labels {
  display: flex;
  height: calc(48 * var(--px));
  justify-content: center;
  width: calc(256 * var(--px));
}

.labels .label {
  align-items: center;
  color: Indigo;
  display: flex;
  font-variant: small-caps;
  height: calc(48 * var(--px));
  justify-content: center;
  padding-bottom: 0.25em;
  text-shadow: none;
  width: calc(32 * var(--px));
}

.labels .label[data-status="on"] {
  color: Coral;
}
