.logo {
  background-image: url(../../images/composite/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: calc(160 * var(--px));
  transform: translateY(-100%);
  transition: transform 1.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  width: calc(240 * var(--px));
}

.logo[data-visible="true"] {
  transform: translateY(0%);
}
