nav {
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav button * {
  pointer-events: none;
}

.menu {
}

.audio {
}

.audio[data-muted="false"]::before {
  content: "🔈";
}

.audio[data-muted="true"]::before {
  content: "🔇";
}
