.navigation {
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: calc(12 * var(--px));
  transform: translateY(-100%);
  transition: transform 1.5s cubic-bezier(0.25, -0.25, 0.25, 1.25);
}

.navigation[data-visible="true"] {
  transform: translateY(0);
}

.navigation button * {
  pointer-events: none;
}

/* .menu {
  background-image: url(../../images/menu.png);
  background-size: calc(12 * var(--px)) calc(10 * var(--px));
  background-position: center;
  background-repeat: no-repeat;
} */

.info {
  background-image: url(../../images/info.png);
  background-size: calc(6 * var(--px)) calc(12 * var(--px));
  background-position: center;
  background-repeat: no-repeat;
}

.audio {
  background-image: url(../../images/audio-1.png);
  background-size: calc(14 * var(--px)) calc(12 * var(--px));
  background-position: center;
  background-repeat: no-repeat;
}

.audio[data-muted="false"] {
  /* content: "🔈"; */
  background-image: url(../../images/audio-animated.png);
}

.audio[data-muted="true"] {
  /* content: "🔇"; */
  background-image: url(../../images/audio-muted.png);
}
