@keyframes blink {
  0% {
    background: Transparent;
  }

  100% {
    background: Turquoise;
  }
}

.shuffle-age-decimal {
  animation: blink 1s steps(4) infinite;
  background: Transparent;
  padding: 0 0.2em;
  transition: transform 0.5s;
}

.shuffle-age-decimal-wrapper {
  transform: rotate(0deg) scale(1);
  transition: transform 0.5s;
  display: inline-block;
}

.shuffle-age-decimal-wrapper.just-shuffled {
  transform: rotate(360deg) scale(1.5);
}
