@keyframes heartbeat {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;
    transform: scale(0.9);
  }
  17% {
    animation-timing-function: ease-out;
    transform: scale(1.25);
  }
  33% {
    animation-timing-function: ease-in;
    transform: scale(0.9);
  }
  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

.shuffle-age-decimal {
  animation: heartbeat 1.5s ease-in-out infinite both;
  background: Transparent;

  display: inline-flex;
  padding: 0 0.2em;
}

.shuffle-age-decimal-wrapper {
  display: inline-block;
  transform: rotate(0deg) scale(1);
  transition: transform 0.5s;
}

.shuffle-age-decimal-wrapper.just-shuffled {
  transform: rotate(360deg) scale(1.5);
}

.scoreboard {
  display: flex;
  transform: translateY(-100%);
  transition: all 0.5s;
  visibility: hidden;
}

[data-step="15"] .scoreboard {
  transform: translateY(0%);
  visibility: visible;
}

.score {
  display: flex;
  margin-top: calc(6 * var(--px)) !important;
  padding: calc(4 * var(--px));
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.just-scored {
  animation: jello-horizontal 1s both;
}

@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

.just-lit-by-mistake,
.just-eaten {
  animation: shake-bottom 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.just-eaten {
  animation-delay: 0.25s;
}

[data-quiz="true"][data-game="over"] .birthday-cake,
[data-quiz="true"][data-game="won"] .birthday-cake,
[data-quiz="true"][data-game="cooldown"] {
  pointer-events: none;
}

.dialog {
  align-items: center;
  bottom: 0;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  left: 0;
  gap: calc(12 * var(--px));
  position: absolute;
  right: 0;
  top: 0;
}

.dialog .over,
.dialog .won {
  display: none;
}

.dialog button {
  align-self: center;
}

[data-quiz="true"][data-game="over"] .birthday-cake,
[data-quiz="true"][data-game="won"] .birthday-cake {
  opacity: 0.5;
}

[data-quiz="true"][data-game="over"] .dialog,
[data-quiz="true"][data-game="won"] .dialog {
  display: flex;
}

[data-quiz="true"][data-game="over"] .dialog .over,
[data-quiz="true"][data-game="won"] .dialog .won {
  display: flex;
}
