.swiper {
  display: flex;
  flex-direction: column;
  gap: calc(12 * var(--px));
  height: 100%;
  width: 100%;
}

.swiper-slide {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: end;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 20 version
*/

/* prettier-ignore */
.swiper-slide {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.swiper-buttons {
  bottom: 0;
  display: flex;
  gap: calc(32 * var(--px));
  justify-content: center;
  margin-bottom: calc(4 * var(--px));
  position: relative;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  bottom: initial;
  height: 100%;
  height: calc(34 * var(--px));
  margin: 0;
  max-width: calc(234 * var(--px));
  overflow: visible;
  position: relative;
  top: initial;
  user-select: none;
  width: calc(50% - calc(18 * var(--px)));
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: Indigo;
  content: "←";
  font-family: inherit;
  font-size: calc(25 * var(--px));
  line-height: 1;
  margin-top: 0.12em;
  text-shadow: none;
}

.swiper-button-next::after {
  content: "→";
}

.swiper-button-prev.swiper-button-lock,
.swiper-button-next.swiper-button-lock {
  cursor: auto;
  display: flex;
  opacity: 0.35;
  outline: none;
  pointer-events: none;
}
